
/*==================================
    HEADER
====================================*/

    .header{
        box-shadow: 2px 2px 10px #ccc;
    }

    .header-top{
        display: none;
        background-color: #3f3521;
        height: 39px;
        width: 100%;
    }

    .header-main{
        margin: 0 auto !important;
    }


    .header-main__sitename{
        width: 320px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .header-main-sitename__logo{
        margin: 0 15px 0 0;
        width: 63px;
		height: 96px;
    }

    .header-main-sitename__title{
        color: #22252d;
        line-height: 1.2;
        font-size: 1rem;
    }


/*==================================
    CALCULATE
====================================*/

    /*---- CALCULATE TITLE ----*/

    .calculator__title__icon{
        padding: 28px;
        background: url("../img/bank.svg") no-repeat center;
        background-size: contain;
    }

    /*---- CALCULATE ITEMS ----*/
     
    .calculator-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .calculator__item{
    	display: flex;
    	text-decoration: none;
        position: relative;
        width: 32%;
        height: 250px;
        overflow: hidden;
        border: 1px solid #fff;
        text-align: center;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .calculator__item__img{
        width: 100%;
        position: relative;
        height: 100%;
        z-index: 0;

        transition: all 1s;  
    }

    .calculator__item:hover .calculator__item__img{
        transform: scale(1.5);
        transition: all 1s;  
    }

    .calculator__item__text{
        text-decoration: none;
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        text-align: center;
        white-space: normal;
        font-size: 1.2rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .calculator__sub-item{
        position: absolute;
        z-index: 10;
        top: 20px;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    	opacity: 0;
    	transition: all 1s; 
    }

    .calculator__item:hover .calculator__sub-item{
        opacity: 1;
        transition: all 1s; 
    }

    .calculator__sub-item__text{
        color: #fff;
        display: inline-block;
        text-decoration: none;
    	padding: 10px;
	    border-radius: 50px;
	    background: #00000075;
	    cursor: pointer;
	    text-transform: lowercase;
	    font-size: 1.1rem;
        font-family: sans-serif;
    }

    .calculator__sub-item__text:hover{
	    background: #000;
    }

    .calculator__item__mask{
        width: 100%;
        height: 100%;
        background: #000;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        opacity: 0.5;
        transition: all 1s; 
    }

    .calculator__item:hover .calculator__item__mask{
        opacity: 0.3;
        transition: all 1s; 
    }


/*==================================
    CALCULATE_CONTENT
====================================*/

    .calculator-content{
        display: none;
        align-items: center;
        margin: 0;
    }

    .calculator-content__title{
        display: flex;
        padding-bottom: 20px;
        margin: 0;
        align-items: center;
    }

    .calculator-content__title__icon{
        padding: 25px;
    }

    .calculator-content__title__text{
        padding: 0 15px;
        font-size: 1.6rem;
        font-weight: 400;
    }

    .calculator-content--active{
        display: block;
    }

    .calculator-content-main{
        width: 100%;
        margin: 50px 0;
    }
        
    .accordion .card-header{
        font-size: 1.4rem;
        color: #b2672b;
        font-weight: 400;
        text-decoration: none;
        width: 100%;
        text-align: left;
        padding: 20px;
        border-radius: 2px;
        box-sizing: border-box;
    }

    .accordion .card-header h5{
        margin: 0;
        font-weight: 400;
    }

    .calculator-content-main__card{
        margin-bottom: 15px;
    }

    .calculator-content-main__card-header,
    .calculator-content-main__card-header:hover{
        text-decoration: none;
    }

    .calculator-content-main__card-header__text{
        background: #ccc8;
        padding: 15px 20px;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 2px 2px 0 0;
        margin: 0;
        color: #b2672b;
    }

    .calculator-content-main__card-body{
        height: 0;
        overflow: hidden;

        transition: all .1s;
    }

    .calculator-content-main__card-body--active{
        height: auto;
        overflow: hidden;

        transition: all .1s;
    }

    .calculator-content-main__card-body__item{
        border-left: 1px solid #ccc6;
        border-right: 1px solid #ccc6;
        padding: 10px 20px;
    }
    .calculator-content-main__card-body__item:nth-child(2n){
        background: #ccc3;
    }
    .calculator-content-main__card-body__item:last-child{
        border-bottom: 1px solid #ccc6;
    }

    .calculator-content-main__card__wrap{
        display: flex;
        padding: 5px 0;
    }

    .calculator-content-main__card__name{
        margin-right: 15px;
        /*width: 4%;*/
    }

    .calculator-content-main__card__value{
        width: 80%;
    }


    /*---- CALCULATE_CONTENT_INFO ----*/

    .calculator-content-info-wrapper{
       /*border: 1px solid red; */
    }

    .calculator-content-info__item{
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc6;
        border-left: 1px solid #ccc6;
        border-right: 1px solid #ccc6;
    }

    .calculator-content-info__item:last-child{
        border-bottom: 1px solid #ccc6;
    }

    .calculator-content-top-info__name{
        width: 20%;
        color: #b2672b;
        font-weight: 600;
        font-size: 0.9rem;
        padding: 10px;
        text-decoration: none;
    }

    .calculator-content-top-info__value{
        width: 80%;
        /*border-left: 1px solid #ccc6;*/
        padding: 10px;
        text-align: left;
        font-size: 0.9rem;
    }

    /*---- CALCULATE_CONTENT_NOTE ----*/

        .calculator-note{
            display: flex;
            align-items: center;
            justify-content: flex-end; 
        }

        .calculator-note-wrap{
            padding-bottom: 10px;
        }

        .calculator-note-item{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-left: 20px;
        }

        .calculator-note-item__text{
            padding-left: 5px;
        }

/*==================================
    FOOTNOTE
====================================*/

    .footnote{
        border: 1px solid #ccc;
        padding: 15px 20px 5px 20px;
        border-radius: 10px;

        opacity: 0.6;
        transition: all .2s;
    }

    .footnote:hover {
        opacity: 1;
        transition: all .2s;
    }

    .footnote-title{
        margin: 0;
        padding: 0 0 15px 0;
        display: flex;
        align-items: flex-start;
    }

    .footnote-title__icon{
        padding: 20px;
        background: url(../img/danger.svg) no-repeat center;
        background-size: contain;   
    }

    .footnote-title__text{  
        font-size: 1.5rem;
        font-weight: 400;
    }

    .footnote-title__text-wrap{
        padding: 0 10px;
    }

    .footnote-list{
    	margin: 0;
    }

    .footnote-list-wrap{
        padding: 0 0 15px 51px;
    }

    .footnote-list__item{
    	font-size: 1rem;
        font-weight: 100;
        padding: 5px 0;
    }


/*==================================
    ICONS
====================================*/

    .home-icon{
        background: url(../img/home.svg) no-repeat center;
        background-size: contain; 
    }

    .building-icon{
        background: url(../img/building.svg) no-repeat center;
        background-size: contain; 
    }

    .apartment-building-icon{
        background: url(../img/more_building.svg) no-repeat center;
        background-size: contain; 
    }

    .working-building-icon{
        background: url(../img/school.svg) no-repeat center;
        background-size: contain; 
    }

    .manufacture-building-icon{
        padding: 30px;
        background: url(../img/power-plant.svg) no-repeat center;
        background-size: contain; 
    }

    .common-calenar-icon{
        height: 20px;
        width: 20px;
        background: url(../img/calendar.svg) no-repeat left;
        background-size: contain;   
    }

    .common-user-icon{
        height: 20px;
        width: 20px;
        background: url(../img/user.svg) no-repeat left;
        background-size: contain;   
    }

    .common-result-icon{
        height: 20px;
        width: 20px;
        background: url(../img/result.svg) no-repeat left;
        background-size: contain;   
    }


/*==================================
    COMMON_STYLES
====================================*/

	html {
	  scroll-behavior: smooth;
	}

    body{
        margin: 0 ;
        padding: 0;
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Arial', 'Tahoma', 'Verdana', 'sans-serif';
    	color: #22252d;
        position: relative;
    }

    .common_main-title{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 20px 0;
    }

    .common_main-title__icon{
        padding: 28px;
    }

    .common_main-title__text{
        font-size: 2rem;
        font-weight: 400;
        display: flex;
        align-items: center;
        padding: 0 15px;
    }


  /*  .common_main-title__text span{
        margin: 0 10px;
        font-size: 1.5rem;
    }*/

    .common_container{
	    width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	 	max-width: 1140px;
        margin-bottom: 50px;
        box-sizing: border-box;
	}

    .common_container:last-child{
        margin-bottom: 100px;
    }

    #top_window{
        z-index:10;
        opacity: 0;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border: 1px solid #b2672b;
        padding: 23px;
        background: url(../img/top-arrow.svg) no-repeat center transparent;
        background-size: 75%;
        border-radius: 50px;

        transition: all .3s;
    }

    #top_window.show{
        opacity: 1;
        transition: all .3s;
    }

    #top_window:hover{
        transform: scale(1.1);
        transition: all .3s;
    }

	@media (max-width: 768px){
		.common_container {
            padding:0;
            margin:0;
		    max-width: 100%;
		}
	}

	@media (min-width: 992px){
		.common_container {
		    max-width: 960px;
		}
	}

    @media (min-width: 1200px){
    	.common_container {
		    max-width: 1140px;
		}
    }
	

/*==================================
    MEDIA
====================================*/

    @media (max-width: 1200px){
        .calculator__item__text,
        .calculator__sub-item__text{
            font-size: 1rem;
        }
    }

    @media (max-width: 992px){

        .common_main-title__text {
            font-size: 1.5rem;
        }

        .calculator__item {
            width: 48%;
        }

        .calculator__item__text,
        .calculator__sub-item__text{
            font-size: 1.1rem;
        }

        .calculator-content__title__text{
            font-size: 1.2rem;
        }

        .calculator-content-main__card-header__text {
            font-size: 1rem;
        }

        .footnote-title__text {
            font-size: 1.2rem;
        }
    }

    /* no-container */
    @media (max-width: 768px){

        /*----- header -----*/

        .header-main__sitename {
            padding: 10px;
        }

        /*----- calculator -----*/

        .calculator__item {
            width: 49%;
        }

        .common_main-title {
            padding: 15px;
        }    

        .calculator-wrapper {
            justify-content: space-around;
        }

        .calculator__item__text{
            font-size: 1rem;
        } 

        .calculator__sub-item__text {
           font-size: 0.9rem;
        }

        /*----- calculator-content -----*/

         .calculator-content-main__card-header__text {
            padding: 15px;
        }

        .calculator-content__title__icon {
            padding: 20px;
        }

        .calculator-content__title__text {
            font-size: 1rem;
        }

        .calculator-content-info{
            padding: 15px 15px 0 15px;
        }

        .calculator-content-main {
            margin: 30px 0;
        }

        .calculator-content-main__card-body__item {
            border:none;
            border-bottom: 1px solid #ccc6;
        }

        .calculator-content-main__card-body__item {
            padding: 10px 15px;
        }

        /*----- calculator-note -----*/

        .calculator-note-wrap {
            padding: 0 15px 10px 15px;
        }

        .calculator-note {
            justify-content: space-between;
        }

        .calculator-note-item {
            padding: 0;
            font-size: 0.8rem 
        }

        /*----- footnote -----*/

        .footnote {
            opacity: 1;
        }

        .footnote-wrapper{
            margin: 15px;
        }

        .footnote-list__item {
            font-size: 0.8rem;
        }
    }

    @media (max-width: 600px){

        /*----- calculator -----*/
        .calculator__item {
            width: 100%;
            border:none;
            margin-bottom: 2px;
        }

        .calculator__sub-item {
            top: 35px;
        }

        .calculator__item__text {
            font-size: 1.1rem;
        }

        .calculator__sub-item__text {
            font-size: 1rem; 
        }

        /*----- calculator-content -----*/

        .calculator-content-info__item {
            flex-direction: column;
        }

        .calculator-content-top-info__name,
        .calculator-content-top-info__value{
            width: 100%;
            box-sizing: border-box;
        }

        .calculator-note {
            flex-direction: column;
            align-items: flex-start;
        }

        .calculator-note-item {
            padding: 5px 0;
        }


        /*----- footnote -----*/

        .footnote {
            padding: 15px;
        }

        .footnote-title {
            padding: 0;
        }

        .footnote-list-wrap {
            padding: 15px;
        }
    }

    @media (max-width: 450px){

        /*----- header ------*/

        .header-main__sitename {
           width: auto;
        }

        /*----- common ------*/

        .common_main-title__text {
            font-size: 1.1rem;
        }

        .common_main-title__icon {
            padding: 23px;
        }

        /*----- calculator ------*/

        .calculator__item {
            height: 200px;
        }

        .calculator__sub-item {
            top: 13px;
        }

        .calculator__item__text {
            font-size: 1rem;
        }

        .calculator__sub-item__text {
            font-size: 0.9rem;
        }

        /*----- calculator-content ------*/

        .calculator-content__title__text {
            padding: 10px 15px;
        }

        .calculator-content__title {
            flex-direction: column;
            text-align: center;
            padding: 15px 0;
        }

        .calculator-content-info {
            padding: 0;
        }

        .calculator-content-top-info__name{
            padding: 15px 15px 0 15px;
        }

        .calculator-content-top-info__value {
            padding: 15px;
        }

        .calculator-content-main__card-header__text {
            padding: 15px;
            font-size: 0.9rem;
        }

        .calculator-note-item__text {
            padding-left: 5px;
            font-size: 0.8rem;
        }

        /*----- footnote ------*/

        .footnote{
           border: none; 
        }

        .footnote-title__text {
            font-size: 1rem;
        }

        .footnote-title__text-wrap {
            padding: 10px 10px 0 10px;
        }

        .footnote-wrapper {
            margin: 0; 
        }

        .footnote-title {
            flex-direction: column;
            align-items: center;
        }


    }